
.add {
  margin-left: 86% !important;
  width: 9% !important;
}

.addtext {
  text-align: right;
  font-style: italic;
}

.bar {
  width: 90%;
  background-color: white;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
}

.progress{
  width: 50%;
  float: right;
  margin-top: 20px;
}

.progress-bar{
  background-color: var(--secondaryColor0);
}

.clickable:hover {
  cursor: pointer;
  color: #50656D;
}

.time {
  clear: right;
  float: right;
  font-style: italic;
}

.title {
  font-size: 36px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
