
<div>

<div *ngFor="let project of projects">

  <div class="bar">
    <div class="left">
        <div class="title left clickable" (click)="this.selectProjEvent(project.title)">{{project.title}}</div>
        <div class="clickable" (click)="this.editProjEvent(project.title)"> Edit </div>
    </div>
    <div class="right">
      <div class="space"></div>
      <div class="progress"></div>
    </div>
    <div class="footer">
      <div class="button clickable">Overview</div>
      <div class="separator"></div>
      <div class="button clickable">My Tasks</div>
      <div class="separator"></div>
      <div class="button clickable">Unassigned</div>
    </div>
  </div>

  <div class="space"></div>

</div>

</div>
