
.bar {
  width: 90%;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 25px;
  margin: auto;
  height: 125px;
}

.clickable:hover {
  cursor: pointer;
  color: #50656D;
}

.footer {
  clear: both;
  margin: auto;
}

.button {
  float: left;
  background-color: #6CD0FF;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  font-weight: bold;
}

.left {
  width: 75%;
  float: left
}

.right {
  margin-left: 75%;
}

.separator {
  float: left;
  width: 15px;
  height: 1px;
}

.space {
  height: 25px;
}

.title {
  font-size: 36px;
  padding-bottom: 5px;
}
