<div *ngFor="let project of projects">

  <div class="bar">
      <div class="progress float-right">
        <div class="progress-bar" [ngStyle]="{'width': getProgress(project) + '%'}"></div>
      </div>
      <div class="title left clickable" (click)="this.selectProject(project)">{{project.title}}</div>
      <div class="footer btn-group">
        <div class="btn" (click)="this.selectProject(project)">View Tasks</div>
        <div class="btn" (click)="this.editProject(project)">Edit Project</div>
        <div class="btn" (click)="this.deleteProject(project)">Delete Project</div>
      </div>
  </div>

</div>