<div *ngFor="let project of projects">

  <div class="bar">
      <div class="progress float-right">
        <div class="progress-bar" [ngStyle]="{'width': getProgress(project) + '%'}"></div>
      </div>
      <div class="title left clickable" (click)="this.selectProject(project.title)">{{project.title}}</div>
      <div class="footer btn-group">
        <div class="btn btn-primary" (click)="this.selectProject(project.title)">View Tasks</div>
        <div class="btn btn-primary" (click)="this.editProject(project.title)">Edit Project</div>
        <div class="btn btn-primary" (click)="this.deleteProject(project.title)">Delete Project</div>
      </div>
  </div>

</div>