<div class="container" style="background: white">
  <form>
    <div class="form-group">
      <label for="title">Project Title:</label>
      <input type="text" class="form-control" id="title" value="{{project.title}}">
    </div>
    <div class="form-group">
      <label for="assignedTo">Assigned To:</label>
      <input type="text" class="form-control" id="assignedTo" placeholder="Search for Company Employee">
      <hr>
      <div style="height: 200px; overflow-y:auto">
        <div *ngFor="let user of users">
          <input type="checkbox"> {{user.name}}
          <hr>
        </div>
      </div>

    </div>
    <div class="form-group">
      <label for="description">Project Description:</label>
      <textarea class="form-control" rows="5" id="description" value="{{project.description}}"></textarea>
    </div>

    <button type="button" class="btn btn-outline-primary btn-block">Update Project</button>
    <button type="button" class="btn btn-outline-danger btn-block">Delete Project </button>
  </form>
</div>