.bar {
  width: 100%;
  height: 75px;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.add-button {
  position: fixed;
  bottom: 25px;
  right: 50px;
  width: 100px;
  border-radius: 20px;
  color: #F6890A;
  background-color: white;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  -webkit-box-shadow: 3px 3px 10px 0px rgba(80,101,109,0.8);
  -moz-box-shadow: 3px 3px 10px 0px rgba(80,101,109,0.8);
  box-shadow: 3px 3px 10px 0px rgba(80,101,109,0.8);
}

.button {
  float: right;
  display: inline-block;
  background-color: #6CD0FF;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  font-weight: bold;

  margin-top: 20px;
  margin-left: 15px;
}

.clickable:hover {
  cursor: pointer;
  color: #50656D;
}

.dockit {
  float: left;
  color: #009DE7;
  font-size: 36px;
  font-style: sans-serif;
  font-weight: bold;
  margin-left: 50px;
  padding-top: 10px;
}

.dockit sub {
  font-size: 12px;
}

.left {
  width: 450px;
  float: left
}

.right {
  margin-left: 500px;
}

.space {
  height: 25px;

}
