<nav class="navbar navbar-light bg-white">
  <a class="navbar-brand" id="logo-container" (click)="viewProjectList()">
    <img src="../assets/DockitLogo.png" width="50" height="50" class="d-inline-block align-top" alt="Logo">
    <span id="title">
      Dockit
      <sub id="subTitle">A Flexible Collaborative To-Do List</sub>
    </span>
  </a>

  <form class="form-inline">
    <button class="btn mr-2" *ngIf="!showProjectList()" (click)="viewProjectList()">Projects</button>
    <button class="btn" style="text-decoration: none">Logout</button>
  </form>
</nav>

<div id="content">
  <div *ngIf="showProjectList()">
    <app-project-list (editEvent)="receiveProjToEdit($event)" (selectEvent)="receiveProjToSelect($event)"
      (deleteEvent)="receiveProjToDelete($event)"></app-project-list>
  </div>

  <div *ngIf="showEditProject()">
    <app-project-editor [project]="this.selectedProject" [newProject]="this.selectedProject==null"
      (updateEvent)="receiveProjToUpdate($event)" (deleteEvent)="receiveProjToDelete($event)"
      (addEvent)="receiveProjToAdd($event)"></app-project-editor>
  </div>

  <app-project-view *ngIf="showProject()" [project]="this.selectedProject"></app-project-view>
</div>
