#content {
  padding: 20px;
  min-height:100%;
  background-color: var(--lightContrastColor);
}

.add-button {
  position: fixed;
  bottom: 25px;
  right: 50px;
  width: 100px;
  border-radius: 20px;
  color: #F6890A;
  background-color: white;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  -webkit-box-shadow: 3px 3px 10px 0px rgba(80,101,109,0.8);
  -moz-box-shadow: 3px 3px 10px 0px rgba(80,101,109,0.8);
  box-shadow: 3px 3px 10px 0px rgba(80,101,109,0.8);
}

.primary {
  background-color: var(--primaryColor0);
}

#title {
  color: var(--primaryColor0);
  font-size: 36px;
  font-style: sans-serif;
  font-weight: bold;
}

#subTitle {
  font-size: 18px;
  font-weight: normal;
}

#logo-container{
  cursor: pointer;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
