<div *ngIf="getTasks().length == 0" class="row">
  <div *ngIf='filter == "All Tasks"'>
      There are no tasks for this project.
  </div>
  <div *ngIf='filter == "My Tasks"'>
      There are no tasks assigned to Amy Anderson.
  </div>
  <div *ngIf='filter == "Unassigned"'>
      There are no unassigned tasks for this project.
  </div>
  
</div>

<div *ngFor="let task of getTasks()">
  <div class="row">
    <div class="col-md-6">
      <div class="title clickable" (click)="this.editTask(task)">{{task.title}}</div>
      <div class="btn-group">
        <div class="btn btn-task" (click)="this.editTask(task)">Edit Task</div>
        <div class="btn btn-task" (click)="this.deleteTask(task)">Delete Task</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="progress">
        <div class="progress-bar" [ngStyle]="{'width': getProgress(task.title) + '%'}"></div>
      </div>
      <div class="time" *ngIf="(task.timeLeft > 0) && (task.timeLeft <= 1)">1 hour left</div>
      <div class="time" *ngIf="task.timeLeft != 1">{{task.timeLeft}} hours left</div>
    </div>
  </div>
</div>

<div class="add clickable" (click)="this.editTask(null)">
  <div class="addtext">+ Add Task</div>
</div>