
.bar {
  width: 100%;
  float: left;
  clear: right;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 25px;
  margin-left: 0;
  margin-bottom: 15px;
  height: 125px;
}

.button {
  float: left;
  display: inline-block;
  background-color: #6CD0FF;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  font-weight: bold;
}

.clickable:hover {
  cursor: pointer;
  color: #50656D;
}

.float-wrapper {
  display: inline-block;
  width: 100%;
}

.footer {
  clear: right;
  padding: 0;
}

.left {
  width: 75%;
  float: left
}

.right {
  margin-left: 75%;
}

.separator {
  float: left;
  width: 10px;
  height: 10px;
}

.space {
  height: 15px;
}

.time {
  text-align: right;
  font-style: italic;
}

.title {
  font-size: 30px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  height: 35px;
}
