.add {
  background-color: var(--backgroundColor);
  padding: 20px;
  float:right;
}

.addtext {
  text-align: right;
  font-style: italic;
}

.row {
  margin: 0px;
  margin-bottom: 20px;
  padding:20px;
  background-color: var(--backgroundColor);
}

.btn.btn-task{
  background: var(--backgroundColor);
  color: var(--primaryColor-1);
  border-color: var(--primaryColor-1);
}

.btn.btn-task:hover{
  background: var(--primaryColor-1);
  color: var(--backgroundColor);
}

.progress {
  margin-top: 10px;
  width: 100%;
}

.progress-bar {
  background-color: var(--secondaryColor0);
}

.clickable:hover {
  cursor: pointer;
  color: #50656D;
}

.time {
  text-align: right;
  font-style: italic;
}

.title {
  font-size: 24px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
