


<div style="display: inline-block; width: 100%;" *ngFor="let task of getTasks()">

  <div class="bar">
    <div class="float-wrapper">
      <div class="left">
          <div class="title left clickable">{{task.title}}</div>
      </div>
      <div class="right">
        <div class="space"></div>
        <div class="progress">
            <div class="progress-bar" [ngStyle]="{'width': getProgress(task.title) + '%'}"></div>
        </div>
        <div class="time" *ngIf="(task.timeLeft > 0) && (task.timeLeft <= 1)">1 hour left</div>
        <div class="time" *ngIf="task.timeLeft != 1">{{task.timeLeft}} hours left</div>
      </div>
    </div>
    <div class="footer">
      <div class="button clickable">Edit Task</div>
      <div class="separator"></div>
      <div class="button clickable">Delete Task</div>
    </div>

  </div>

</div>

<div *ngIf="getTasks().length == 0">No tasks to display. (Note: filter application is under construction.)</div>
