
<div>

<div *ngFor="let project of tasks">

  <div class="bar">
    <div class="float-wrapper">
      <div class="left">
          <div class="title left clickable">{{project.title}}</div>
      </div>
      <div class="right">
        <div class="space"></div>
        <div class="progress"></div>
      </div>
    </div>
    <div class="footer">
      <div class="button clickable">Edit Task</div>
      <div class="separator"></div>
      <div class="button clickable">Delete Task</div>
    </div>

  </div>

  <div class="space"></div>

</div>

</div>
