/* You can add global styles to this file, and also import other style files */
:root{
  --backgroundColor: white;
  --lightContrastColor: #E1EBF2;
  --darkContrastColor: rgb(77, 77, 77);
  --foregroundColor: black;

  --primaryColor-2:#00699A;
  --primaryColor-1:#008CCE;
  --primaryColor0:#009DE7;
  --primaryColor1:#6CD0FF;
  --primaryColor2:#E0F7FF;

  --secondaryColor0: #f88250;

  --textDockitSize: 36px;
  
  --textInputSize: 18px;
}

.btn {
  background-color: var(--primaryColor0);
  border-color: var(--primaryColor0);
  color: white;
}

.btn:hover {
  background-color: var(--primaryColor-1);
  border-color: var(--primaryColor-1);
  color: white;
}

html, body{
  height:100%;
}


.light_background {
  background-color: #E1EBF2;
}

.white-background {
  background-color: white;
}
